body.page .pxl-page{
	overflow-x: hidden;
	overflow-y: hidden;
}
.text-start {
	text-align: start
}

.text-end {
	text-align: end
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.text-white{
	color: #fff !important;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: $xs_screen){
	.d-xxs-none{
		display: none;
	}
}
.d-flex-wrap{
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-wrap: wrap; 
	>*{
		max-width: 100%;
	}
}
 
.d-flex-auto{
	@include d-flex-auto();
}
.d-flex-align-justify-center{
	@include d-flex-align-justify-center();
}

@media (max-width: $xs_max) {
	.text-xs-start {
		text-align: start !important
	}
	.text-xs-end {
		text-align: end !important
	}
	.text-xs-left {
		text-align: left !important
	}
	.text-xs-right {
		text-align: right !important
	}
	.text-xs-center {
		text-align: center !important
	}
	.justify-content-xs-start {
		-ms-flex-pack: start !important;
		justify-content: flex-start !important;
	}
	.justify-content-xs-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.justify-content-xs-end {
		-ms-flex-pack: end !important;
		justify-content: flex-end !important;
	}
	.align-self-xs-start {
		-ms-flex-item-align: start !important;
		align-self: flex-start !important;
	}
	.align-self-xs-center {
		-ms-flex-item-align: center !important;
		align-self: center !important;
	}
	.align-self-xs-end {
		-ms-flex-item-align: end !important;
		align-self: flex-end !important;
	}
}

@media (min-width: $xxxl_min) {
	.text-xxxl-start {
		text-align: start !important
	}
	.text-xxxl-end {
		text-align: end !important
	}
	.text-xxxl-left {
		text-align: left !important
	}
	.text-xxxl-right {
		text-align: right !important
	}
	.text-xxxl-center {
		text-align: center !important
	}
	.justify-content-xxxl-start {
		-ms-flex-pack: start !important;
		justify-content: flex-start !important;
	}
	.justify-content-xxxl-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.justify-content-xxxl-end {
		-ms-flex-pack: end !important;
		justify-content: flex-end !important;
	}
	.align-self-xxxl-start {
		-ms-flex-item-align: start !important;
		align-self: flex-start !important;
	}
	.align-self-xxxl-center {
		-ms-flex-item-align: center !important;
		align-self: center !important;
	}
	.align-self-xxxl-end {
		-ms-flex-item-align: end !important;
		align-self: flex-end !important;
	}
	.elementor-column.pxl-column-element-widescreen-auto {
		@include flex-auto();
	}
}

.w-100{
	width: 100% !important;
}
.h-100{
	height: 100% !important;
}
.text-primary{
    color:$primary_color;
}
.text-second{
    color:$second_color;
}
 
.overflow-hidden{
	overflow: hidden !important;
}
@media (max-width: $xs_max){
	.overflow-hidden-xs{
		overflow: hidden !important;
	}
}
.bg-image {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.scale-hover{
	overflow: hidden;
	img{
		@include transition(0.35s cubic-bezier(0.24, 0.74, 0.58, 1));
	}
	&:hover{
		img{
			@include scale-image();
		}
	}
}
.text-truncate-1 {
	display: block;
	display: -webkit-box;
	max-height: 25.6px*1;
	font-size: 16px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-khtml-line-clamp: 1;
	-moz-line-clamp: 1;
	-ms-line-clamp: 1;
	-o-line-clamp: 1;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-1 > * {
	display: block;
	display: -webkit-box;
	max-height: 25.6px*1;
	font-size: 16px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-khtml-line-clamp: 1;
	-moz-line-clamp: 1;
	-ms-line-clamp: 1;
	-o-line-clamp: 1;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-2 {
	display: block;
	display: -webkit-box;
	max-height: 25.6px*2;
	font-size: 16px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-khtml-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-2 > * {
	display: block;
	display: -webkit-box;
	max-height: 25.6px*2;
	font-size: 16px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-khtml-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-3 {
	display: block;
	display: -webkit-box;
	max-height: 24px*3;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-khtml-line-clamp: 3;
	-moz-line-clamp: 3;
	-ms-line-clamp: 3;
	-o-line-clamp: 3;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-3 > * {
	display: block;
	display: -webkit-box;
	max-height: 24px*3;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-khtml-line-clamp: 3;
	-moz-line-clamp: 3;
	-ms-line-clamp: 3;
	-o-line-clamp: 3;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-4 {
	display: block;
	display: -webkit-box;
	max-height: 24px*4;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-khtml-line-clamp: 4;
	-moz-line-clamp: 4;
	-ms-line-clamp: 4;
	-o-line-clamp: 4;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-4 > * {
	display: block;
	display: -webkit-box;
	max-height: 24px*4;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-khtml-line-clamp: 4;
	-moz-line-clamp: 4;
	-ms-line-clamp: 4;
	-o-line-clamp: 4;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-5 {
	display: block;
	display: -webkit-box;
	max-height: 24px*5;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 5;
	-webkit-line-clamp: 5;
	-khtml-line-clamp: 5;
	-moz-line-clamp: 5;
	-ms-line-clamp: 5;
	-o-line-clamp: 5;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-truncate-5 > * {
	display: block;
	display: -webkit-box;
	max-height: 24px*5;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 5;
	-webkit-line-clamp: 5;
	-khtml-line-clamp: 5;
	-moz-line-clamp: 5;
	-ms-line-clamp: 5;
	-o-line-clamp: 5;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-khtml-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical
}

.text-multi-line-1 {
	font-size: 20px;
	line-height: 1.4;
	min-height: 56px;
	max-height: 56px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.text-multi-line-2 {
	font-size: 30px;
	line-height: 1.5;
	min-height: 90px;
	max-height: 90px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.text-multi-line-242 {
	font-size: 24px;
	line-height: 1.16666667;
	min-height: 56.00000016px;
	max-height: 56.00000016px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
 
.bypostauthor {
	display: block;
}

.alignleft,
.alignright,
.aligncenter {
	margin-top: 6px;
	margin-bottom: 45px;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 35px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 35px;
	clear: right;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.sticky {
	display: block;
}

.list-style-none {
	list-style: none;
}

.italic {
	font-style: italic
}

.no-padding {
	padding: 0 !important
}

.text-underline {
	text-decoration: underline;
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.absoluted {
	position: absolute;
	z-index: 1;
}
.pxl-absoluted {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.pxl-overlay{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pos-fix{
	position: fixed;
}
.img-cover{
    object-fit: cover;
}
.img-cover-center{
    object-fit: cover;
    object-position: center;
}

.pxl-page-overlay{  
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: #{'rgba(var(--heading-color-rgb),0.8)'};
	opacity: 0;
	@include transition(opacity .45s cubic-bezier(.25,.46,.45,.94));
}

.transition,
.pxl-transition{
	@include transition();
}
.pxl-invisible{
	visibility: hidden;
}
.font-body{
	font-family: $body_font_family !important;
}
.font-heading{
	font-family: $heading_font_family;
}
.pxl-heading{
	color: $heading_color;
	font-weight: $heading_font_weight;
	margin-top: 0;
}
.text-heading{
	color: $heading_color;
}
.empty-none:empty{
	display: none !important;
}

.clearfix::after, .clearfix::before {
    display: block;
    clear: both;
    content: "";
}

.shape-animate1 {
	animation: animationFramesTwo 12s infinite linear alternate;
}
.shape-animate2 {
	animation: animationFramesOne 12s infinite linear alternate;
}
.shape-animate3 {
	animation: animationFramesFour 12s infinite linear alternate;
}
.shape-animate4 {
	animation: animationFramesThree 12s infinite linear alternate;
}
.shape-animate5 {
	animation: animationFramesFive 12s infinite linear alternate;
} 
.shape-animate6 {
	animation: animationFramesSix 12s infinite linear alternate;
} 
.shape-animate7 {
	animation: animationFramesSeven 18s infinite linear alternate;
} 
.fade-in-out-custom {
	animation: fadeInOutCustom 8s infinite linear alternate;
} 
.fade-out-in-custom {
	animation: fadeOutInCustom 8s infinite linear alternate;
} 

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

.swing {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
}
.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}
.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}
.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.pxl-entry-content .fadeInDown{
	-webkit-animation-name: pxlFadeInDown;
	animation-name: pxlFadeInDown;
} 
.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
.pxl-entry-content .fadeInLeft{
	-webkit-animation-name: pxlFadeInLeft;
	animation-name: pxlFadeInLeft;
} 
.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}
.pxl-entry-content .fadeInRight{
	-webkit-animation-name: pxlFadeInRight;
	animation-name: pxlFadeInRight;
}
.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}
.pxl-entry-content .fadeInUp{
	-webkit-animation-name: pxlFadeInUp;
	animation-name: pxlFadeInUp;
}
.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
}
.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}
.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}
.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig;
}
.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig;
}
.animated.flip {
	-webkit-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip;
}
.flipInX {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}
.flipInY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
}
.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
.flipOutY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.lightSpeedOut {
	-webkit-animation-name: lightSpeedOut;
	animation-name: lightSpeedOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
}
.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}
.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}
.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}
.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}
.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut;
}
.rotateOutDownLeft {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft;
}
.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight;
}

.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft;
}
.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
}
.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}
.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}
.slideOutRight {
	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight;
}
.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
}
.hinge {
	-webkit-animation-name: hinge;
	animation-name: hinge;
}
.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}
.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}
.scaleDisappear {
	-webkit-animation: scaleDisappear 350ms ease-in-out;
	-moz-animation: scaleDisappear 350ms ease-in-out;
	-ms-animation: scaleDisappear 350ms ease-in-out;
	-o-animation: scaleDisappear 350ms ease-in-out;
	animation: scaleDisappear 350ms ease-in-out;
}

.pxl-spin{
	@include animation(pxl-spin 2s linear infinite);
}
.pxl-spin1{
	@include animation(pxl-spin 15s linear infinite);
}
.pxl-dot-animate{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
	.dot-item{
		position: relative;
		span{
	    	width: 6px;
		    height: 6px;
		    background-color: #7a7a7a;
		    position: absolute;
		    bottom: 14%;
		    left: 50%;
		    margin-left: -2px;
		    z-index: 1;
	    }
	     
	    &:before{
	    	content: "";
	    	position: absolute;
	    	left: 50%;
	    	top: 0;
	    	bottom: 0;
	    	width: 1px;
	    	height: 100%;
	    	background-color: #292929;
	    } 
	}
	.dot-1{
		span{
			bottom: 8%;
			@include animation(dotAnimatedBottomToTop1 30s infinite linear);
		}
	} 
	.dot-2{
		span{
			bottom: 98%;
			@include animation(dotAnimatedBottomToTop2 30s infinite linear);
		}
	} 
	.dot-3{
		span{
			bottom: 6%;
			@include animation(dotAnimatedBottomToTop3 30s infinite linear);
		}
	} 
	.dot-4{
		span{
			bottom: 96%;
			@include animation(dotAnimatedBottomToTop4 30s infinite linear);
		}
	} 
	.dot-5{
		span{
			bottom: 12%;
			@include animation(dotAnimatedBottomToTop5 30s infinite linear);
		}
	} 
	.dot-6{
		span{
			bottom: 94%;
			@include animation(dotAnimatedBottomToTop6 30s infinite linear);
		}	
	} 
	 
}
.pxl-transforms{
	-webkit-transform: perspective(var(--pxl-transform-perspective,0)) rotate(var(--pxl-transform-rotateZ,0)) rotateX(var(--pxl-transform-rotateX,0)) rotateY(var(--pxl-transform-rotateY,0)) translate(var(--pxl-transform-translate,0)) translateX(var(--pxl-transform-translateX,0)) translateY(var(--pxl-transform-translateY,0)) scaleX(calc(var(--pxl-transform-flipX, 1) * var(--pxl-transform-scaleX, var(--pxl-transform-scale, 1)))) scaleY(calc(var(--pxl-transform-flipY, 1) * var(--pxl-transform-scaleY, var(--pxl-transform-scale, 1)))) skewX(var(--pxl-transform-skewX,0)) skewY(var(--pxl-transform-skewY,0));
	transform: perspective(var(--pxl-transform-perspective,0)) rotate(var(--pxl-transform-rotateZ,0)) rotateX(var(--pxl-transform-rotateX,0)) rotateY(var(--pxl-transform-rotateY,0)) translate(var(--pxl-transform-translate,0)) translateX(var(--pxl-transform-translateX,0)) translateY(var(--pxl-transform-translateY,0)) scaleX(calc(var(--pxl-transform-flipX, 1) * var(--pxl-transform-scaleX, var(--pxl-transform-scale, 1)))) scaleY(calc(var(--pxl-transform-flipY, 1) * var(--pxl-transform-scaleY, var(--pxl-transform-scale, 1)))) skewX(var(--pxl-transform-skewX,0)) skewY(var(--pxl-transform-skewY,0));
	-webkit-transform-origin: var(--pxl-transform-origin-y) var(--pxl-transform-origin-x);
	-ms-transform-origin: var(--pxl-transform-origin-y) var(--pxl-transform-origin-x);
	transform-origin: var(--pxl-transform-origin-y) var(--pxl-transform-origin-x);
	-webkit-transition: -webkit-transform var(--pxl-transform-transition-duration,.4s);
	transition: -webkit-transform var(--pxl-transform-transition-duration,.4s);
	-o-transition: transform var(--pxl-transform-transition-duration,.4s);
	transition: transform var(--pxl-transform-transition-duration,.4s);
	transition: transform var(--pxl-transform-transition-duration,.4s),-webkit-transform var(--pxl-transform-transition-duration,.4s);
}

.pxl-rotate1{
	transform: rotate(-90deg);
    transform-origin: 0 0;
}
.transform-origin-0 .elementor-widget-container{
	transform-origin: 0 0;	
}
.elementor-column.pxl-bg-ken-burns .elementor-widget-wrap{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include animation(pxl-ken-burns-in-out 30s linear infinite); 
}
.pxl-ken-burns{
	-webkit-transition-property:-webkit-transform;
	transition-property:-webkit-transform;
	-o-transition-property:transform;
	transition-property:transform;
	transition-property:transform,
	-webkit-transform;
	-webkit-transition-duration:10s;
	-o-transition-duration:10s;
	transition-duration:10s;
	-webkit-transition-timing-function:linear;
	-o-transition-timing-function:linear;
	transition-timing-function:linear
}
.pxl-ken-burns--out{
	-webkit-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3)
}
.pxl-ken-burns--active{
	-webkit-transition-duration:20s;
	-o-transition-duration:20s;
	transition-duration:20s
}
.pxl-ken-burns--active.pxl-ken-burns--out{
	@include animation(pxl-ken-burns-out 20s linear infinite);  
}
.pxl-ken-burns--active.pxl-ken-burns--in{
	@include animation(pxl-ken-burns-in 20s linear infinite); 
} 

.pxl-border-anm.bw-no{
    border-width: 0;
}

.pxl-border-anm.bw-yes{
    border-width: var(--bd-width);
}
@each $breakpoint, $max_width in $screen_breakpoints {
    @media (max-width: $max_width){
        .pxl-border-anm.bw-#{$breakpoint}-no{
            border-width: 0;
        }
        .pxl-border-anm.bw-#{$breakpoint}-yes{
            border-width: var(--bd-width);
        }
    }
} 

.elementor-section.pxl-border-section-anm{
    border-width: 0 !important;
}
.elementor-column.pxl-border-column-anm > .elementor-element-populated{
    border-width: 0 !important;
}
.elementor-element.pxl-wg-bd-anm-yes > .elementor-widget-container{
    border-width: 0 !important;
    position: relative;
}
.pxl-border-animated{
	.pxl-border-anm{
		position: absolute;
		transition: transform 2s cubic-bezier(.77,0,.175,1);
		&.bt{
			top: 0;
			left: 0;
			transform: scaleX(0);
			transform-origin: 0 0;
		}
		&.br{
			top: 0;
			right: 0;
			transform: scaleY(0);
			transform-origin: 100% 0;
		}
		&.bb{
			left: 0;
			bottom: 0;
			transform: scaleX(0);
			transform-origin: 0 100%;
		}
		&.bl{
			top: 0;
			left: 0;
			transform: scaleY(0);
			transform-origin: 0 0;
		}
	}
	&.num-3 .pxl-border-anm,
	&.num-4 .pxl-border-anm{
		&.br,
		&.bb{
			transition-delay: 2s;
		}
	}
	&.pxl-animated .pxl-border-anm{
		transform: scale(1);
	}
}
.pxl-bd-anm{
	border-width: 0 0 1px 0; 
    border-style: solid;
    border-color: #e4e4e4;
	transform: scale(0);
	transition: transform 2s cubic-bezier(.77,0,.175,1);
	&.bt{
		border-width: 1px 0 0 0; 
		transform-origin: 0 0;
	}
	&.br{
		border-width: 0 1px 0 0; 
		transform-origin: 100% 0;
	}
	&.bb{
		border-width: 0 0 1px 0; 
		transform-origin: 0 100%;
	}
	&.bl{
		border-width: 0 0 0 1px; 
		transform-origin: 0 0;
	}
	&.pxl-animated{
		transform: scale(1);
	}
}

.elementor-widget-divider{
	.elementor-divider-separator{
		transform: scaleX(0);
		transform-origin: 0 100%;
		transition: transform 2s cubic-bezier(.77,0,.175,1);
	}
	&.pxl-animated .elementor-divider-separator{
		transform: scale(1);
	}
}

.pxl-divider.animated{
	.pxl-divider-separator{
		transform: scaleX(0);
		transform-origin: 0 100%;
		transition: transform 2s cubic-bezier(.77,0,.175,1);
	}
	&.reversal .pxl-divider-separator{
		transform-origin: 100% 100%;
	}
	&.slow .pxl-divider-separator{
		transition: transform 2.5s cubic-bezier(.77,0,.175,1);
	}
	&.normal .pxl-divider-separator{
		transition: transform 1.8s cubic-bezier(.77,0,.175,1);
	}
	&.fast .pxl-divider-separator{
		transition: transform 1s cubic-bezier(.77,0,.175,1);
	}
	&.pxl-animated .pxl-divider-separator{
		transform: scale(1);
	}
}

.pxl-hd-bd-left,
.pxl-hd-bd-right{
	.elementor-widget-container:before{
		transform: scaleY(0);
		transform-origin: 100% 0;
		transition: transform 1s cubic-bezier(.77,0,.175,1);
	}
	&.pxl-animated .elementor-widget-container:before{
		transform: scale(1);
	}
}

.pxl-section-bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
} 
.pxl-column-bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
} 
.pxl-section-divider-top-img{
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.pxl-section-divider-bot-img{
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}  
.pxl-section-line-item{
	position: absolute;
	top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform-origin: 0 0;
    transform: scale(0);
	transition: transform 2s cubic-bezier(.77,0,.175,1);
	&.pxl-animated{
		transform: scale(1);
	}
}
.cursor-map-target{
	&:hover .pxl-map-wrap {
	  	opacity: 1;
	}
}
.pxl-map-wrap{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;	
	z-index: -1;
	@include transition(opacity .3s, visibility .3s);
	.pxl-map-content{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    @include transform(scale(0.5));
	    transform-origin: 50% 50%;
	    @include transition(all .3s ease-in-out);
	    iframe{
	    	width: 100%;
	    	height: 100%;
	    }
	}
	&.active{
		opacity: 1;
		visibility: visible;	
		z-index: 999999;
		.pxl-map-content{
			opacity: 1;
			@include transform(scale(1));
		}
	}
	&.clicked{
		@include transform(translate(-50%, -50%));	
		@media (max-width: $md_max){
			@include transform(translate(0, -50%));	
		}
	}
}
.list-text-hover{
	.text-hover-item{
		transition: z-index .11s .17s;
		&.active{
			z-index: 3;
		}
	}
}
.pxl-imgs-hover{
	opacity: 0;
	transform: translate(calc(var(--pxl-mouse-x) - 50%), calc(var(--pxl-mouse-y) - 50%));
	transition: opacity 0.3s;
	z-index: 1;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	.img-inner {
		transform: translateX(-100%);
	}
	.img-hv-ac{
		transform: translateX(100%) scale(1.4);
	}
	.img-item.active{
		z-index: 2;
	}
	.img-item.deactive .img-hv-ac {
		animation: pxlImgOut 0.55s ease-in-out both;
	}
	.img-item.deactive .img-inner {
		animation: pxlInnerOut 0.55s ease-in-out both;
	}
	.img-item.active .img-hv-ac {
		animation: pxlImgIn 0.55s ease-in-out both;
	}
	.img-item.active .img-inner {
		animation: pxlInnerIn 0.55s ease-in-out both;
	}
}
.pxl-text-img-wrap .content-inner:hover .pxl-imgs-hover {
	opacity: 1;
}
 
.pxl-text-stroke{
	position: relative;
	display: inline-block;
	line-height: 1;
	-webkit-text-stroke: 3px rgba(#000000, 0.08);
	color: transparent;  
	text-transform: uppercase;
} 
.pxl-bg-parallax{
	position: relative;
	overflow: hidden;
}
.parallax-inner{
    position: absolute;
    top: -10%;
    left: -10%;
    height: calc(100% + 20%);
    width: calc(100% + 20%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pxl-split-text{
	.split-line{
		overflow: hidden;
	}
}
@media (max-width: 1023px){
	.stop-splittext-anm{
		.pxl-split-text{
			.split-line{
				overflow: inherit;
				*{
					transform: scale(1,1) !important;
					transform: rotateX(0) !important;
					transform: translateX(0) !important;
					transform: translateY(0) !important;
		    		opacity: 1 !important;
				}
				
			}
		}
	}
}

.pxl-divider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &.horizontal .pxl-divider-separator{
        border-top: 1px solid $border_color;
    }
    &.vertical .pxl-divider-separator{
        border-left: 1px solid $border_color;
    }
}

.text-slide-to-left {
    -webkit-animation: pxl_text_slide_l 16s linear infinite;
    animation: pxl_text_slide_l 16s linear infinite;
}
.text-slide-to-right {
    -webkit-animation: pxl_text_slide_r 16s linear infinite;
    animation: pxl_text_slide_r 16s linear infinite;
}