/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.pxl-banner-box1 {
    .pxl-item--inner {
        overflow: hidden;
    }
    .pxl-item--content {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        width: 50%;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        @media #{$max-sm} {
            width: 60%;
        }
    }
    .pxl-item--subtitle span {
        color: #798076;
    }
    .pxl-item--title {
        color: $primary_color;
        margin-bottom: 22px;
        @extend .pxl-h2-size;
        .pxl-title--highlight {
            color: $secondary_color;
        }
    }
    .pxl-item--description {
        color: $third_color;
        margin-bottom: 53px;
        span {
            @include transition(all 300ms ease);
        }
    }
    &.style1 {
        .pxl-item--title {
            margin-right: 20px;
            @media #{$max-xl} {
                margin-right: 0;
            }
        }
        .pxl-item--description {
            max-width: 80%;
            @media #{$max-xl} {
                max-width: 100%;
            }
        }
    }
    &.style2 {
        .pxl-item--inner {
            position: relative;
            &:before {
                @extend .pxl-spill;
                opacity: 0;
                background-color: $third_color;
                @include transition(opacity 0.5s);
            }
            > a {
                img {
                    @include transition(all .4s ease-in-out);
                }
                .pxl-item--content {
                    @include transition(all 0.3s ease-in-out 0s);
                    &.content-back {
                        opacity: 0;
                        @include transform(translateX(-10px));
                        .pxl-item--title {
                            color: $fourth_color;
                        }
                    }
                }
            }
        }
        .pxl-item--content {
            position: absolute;
            &.p-center {
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
        &.pxl-show-button {
            .pxl-item--inner {
                &:hover {
                    &:before {
                        opacity: 0.6;
                    }
                    > a {
                        img {
                            @include transform(scale(1.01));
                        }
                        .pxl-item--content {
                            opacity: 0;
                            @include transform(translateX(-10px));
                            &.content-back {
                                opacity: 1;
                                @include transform(translateX(0));
                            }
                        }
                    }
                }
            }
        }
    }
    &.type-bg {
        .pxl-item--inner {
            padding: 136px 60px 138px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media #{$max-sm} {
                padding: 96px 30px 98px;
            }
        }
    }
}
.pxl-banner-box2 {
    .pxl-item--inner {
        position: relative;
        overflow: hidden;
        .pxl-item--image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
    }
    &.type-bg {
        .pxl-item--inner {
            padding: 58px 50px 64px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .pxl-item--content {
        position: relative;
        width: 50%;
        z-index: 2;
        @media #{$max-sm} {
            width: 60%;
        }
    }
    .pxl-item--title {
        color: $primary_color;
        margin-bottom: 22px;
        @extend .pxl-h4-size;
        .pxl-title--highlight {
            color: $secondary_color;
        }
    }
    .pxl-item--list {
        margin-bottom: 40px;
        span:not(:first-child), a:not(:first-child) {
            margin-top: 10px;
        }
        a {
            display: flex;
        }
        span {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: $third_color;
            &:before {
                content: '\e917';
                font-family: 'Pxl Awesome';
                display: inline-block;
                width: 14px;
                height: 14px;
                line-height: 14px;
                font-size: 7px;
                margin-right: 10px;
                text-align: center;
                color: $fourth_color;
                background-color: $primary_color;
                flex: none;
                @include border-radius(50%);
                @include transition(all 300ms ease);
            }
        }
    }
    .btn {
        color: $secondary_color;
        border-color: $secondary_color;
        line-height: 50px;
        &:hover, &:focus, &:active {
            color: $secondary_color;
        }
    }
    .pxl-btn-line {
        color: $secondary_color;
        &:after {
            background-color: $secondary_color;
        }
        &:hover, &:focus, &:active {
            color: $secondary_color;
        }
    }
    .item--sale {
        font-size: 28px;
        line-height: 1.142857;
        font-weight: 700;
        color: $secondary_color;
        border: 2px solid $secondary_color;
        flex: none;
        margin: 0 20px 0 0;
        padding: 30px 9px;
        @include transition(all 300ms ease);
    }
    .pxl-item--holder {
        display: flex;
        align-items: center;
        .pxl-item--title {
            margin-bottom: 0;
        }
    }
}
.pxl-banner-box3 {
    &.type-bg {
        .pxl-item--inner {
            padding: 80px 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media #{$max-xs} {
                padding: 80px 30px;
            }
        }
    }
    .pxl-item--content {
        @extend .pxl-item--flexnw;
        position: relative;
        z-index: 2;
    }
    .item--sale {
        position: relative;
        font-weight: 700;
        color: $fourth_color;
        flex: none;
        margin: 0 30px 0 0;
        padding: 32px 11px;
        @media #{$max-md} {
            font-size: 26px;
        }
        @media #{$max-xs} {
            font-size: 20px;
            padding: 20px 5px 20px 5px;
            margin: 0 20px 0 0;
        }
        &:before {
            @extend .pxl-spill;
            background-color: $secondary_color;
            z-index: -1;
        }
    }
    .pxl-item--title {
        color: $primary_color;
        margin-bottom: 0;
        .pxl-title--highlight {
            color: $secondary_color;
        }
        @media #{$max-xs} {
            font-size: 25px;
        }
    }
    .pxl-item--inner {
        position: relative;
        overflow: hidden;
        &:before {
            @extend .pxl-spill;
            opacity: 0;
            z-index: 1;
            @include transform(translateX(100%));
            @include transition(all 300ms ease);
        }
        .pxl-item--image {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &:hover{
            &:before {
                opacity: 1;
                background-color: rgba(93, 136, 52, 0.5);
                @include transform(translateX(0));
            }
            .item--sale:before {
                @include animation(pxl_spin_180 0.5s linear 0.2s);
            }
            .pxl-item--title {
                color: $fourth_color;
            }
        }
    }
}