/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/

.swiper-filter-active {
	.non-swiper-slide {
		display: none;
	}
}

.single {
	.portfolio {
		.pxl-item--image {
			img {
				@media (max-width: 991px) {
					width: 100%;
				}
			}
		}
		.pxl-portfolio--title {
			font-weight: 700;
			font-size: 34px;
			line-height: 54px;
			margin: 35px 0 5px;
		}
		.pxl-item--meta-portfolio {
			display: inline-block;
			float: right;
			margin-top: -30px;
			position: relative;
			z-index: 1;
			@media (max-width: 575px) {
				display: block;
				float: none;
				margin-top: 20px;
				margin-bottom: 50px;
			}
			li {
				list-style: none;
				a {
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					border-bottom: 1px solid #00234b;
				}
			}
		}
	}
}

.swiper-filter-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.filter-item {
		display: inline-block;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 10px 24px;
		cursor: pointer;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			width: 11px;
			height: 41px;
			@include border-radius(11px);
			background-color: #f4f4f4;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%) scaley(0));
			opacity: 0;
			@include transition(.2s cubic-bezier(.24,.74,.58,1));
			z-index: -1;
		}
		span {
			color: #010927;
			@include transition(.2s cubic-bezier(.24,.74,.58,1));
		}
		&.active {
			color: $primary_color;
			span {
				@extend .text-gradient;
			}
			&:before {
				opacity: 1;
				@include transform(translate(-50%, -50%) scaley(1));
			}
		}
	}
}

// start portfolio
//--------------------------------------------------
.pxl-portfolio-grid {
	.pxl-load-more {
		margin-top: 45px;
		.load-title {
			display: none;
		}
		&.pxl-loadmore-style2 {
			&.loading {
				.load-title {
					display: none;
					transition-deley: 1s;
				}
			}
			.load-title {
				display: inline-block;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 30px;
				color: $fourth_color;
			}
			.btn {
				background-color: transparent;
				color: $primary_color;
				text-decoration: underline;
				text-transform: capitalize;
				padding: 0 40px 0 0;
			}
		}
	}
	.container-custom {
		max-width: 1200px;
		margin: 0 auto 22px;
		.pxl-grid-filter1 {
			margin-bottom: 0;
			flex-grow: 1;
		}
		.pxl--filter-inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&.layout1 {
		.pxl-grid-item-inner {
			position: relative;
			background-position: center;
			background-size: cover;
			height: 359px;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 42, 92, 0.8);
				z-index: 2;
				opacity: 0;
				@include transition(all 300ms ease);				
			}
			&:hover {
				&:before {
					opacity: 1;
				}
				.pxl-item-content {
					opacity: 1;
					visibility: visible;
					bottom: 0;
				}
				.team_social {
					.share {
						opacity: 1;
					}
				}
			}
		}
		.team_social {
			position: absolute;
			top: 40px;
			left: 40px;
			text-align: center;
			overflow: hidden;
			width: 42px;
			height: 42px;
			transition: height 0.2s linear;
			z-index: 2;
			&:hover {
				height: 260px;
				~.pxl-item-content {
					bottom: -90px;
				}
			}
		}
		.share {
			opacity: 0;
			margin-bottom: 5px;
			position: relative;
			overflow: hidden;
			font-size: 20px;
			text-align: center;
			color: #fff;
			display: block;
			outline: none;
			width: 42px;
			height: 42px;
			line-height: 42px;
			background: $primary_color;
			cursor: pointer;
			border-radius: 5px;
			@include transition(all 300ms ease);			
			i {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 42px;
				height: 42px;
				line-height: 42px;
			}
		}
		.pxl-item-share {
			padding: 0px;
			margin-bottom: 0px;
			i{
				font-size: 20px;
				width: 42px;
				height: 42px;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1;
				background-color: $primary_color;
				border-radius: 3.75px;
				color: #fff;
				margin-bottom: 5px;
			}
		}
		.pxl-item-content {
			@include transition(all 300ms ease);
			position: absolute;
			left: 0;
			bottom: -50px;
			width: 100%;
			padding: 0 30px 0 40px;
			background-color: transparent;
			z-index: 3;
			opacity: 0;
			visibility: hidden;
			.pxl-item-title {
				margin-bottom: 32px;
				a {
					color: $primary_color; 
					font-weight: 700;
					font-size: 20px;
					line-height: 26px;
				}
			}
			.pxl-item-tags {
				a {
					text-transform: uppercase;
					color: #CACFEB;
					letter-spacing: 5px;
					font-weight: 600;
					font-size: 13px;
					line-height: 30px;
				}
			}
		}
	}
}

.pxl-portfolio-carousel1 {
	.wp-arrow {
		display: flex;
		align-items: center;
		gap: 5px;
		justify-content: center;
		max-width: 1170px;
		margin: 50px auto 0;
		.divider {
			display: block;
			width: 530px;
			height: 2px;
			background-color: #ECECEC;
		}
		.pxl-swiper-arrow {
			width: 25px;
			height: 25px;
			background: #F2F7F7;
			border-radius: 2px;
			line-height: 28px;
			font-size: 10px;
		}
	}
	.pxl-swiper-slide {
		@include transition(all 300ms ease);
	}
	.pxl-item--inner {
		position: relative;
		background-position: center;
		background-size: cover;		
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 42, 92, 0.8);
			z-index: 2;
			opacity: 0;
			@include transition(all 300ms ease);				
		}
		&:hover {
			&:before {
				opacity: 1;
			}
			.pxl-item-content {
				opacity: 1;
				visibility: visible;
				bottom: 41px;
			}
			.team_social {
				.share {
					opacity: 1;
				}
			}
		}
	}
	.pxl-item--image {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 33%;
			background: linear-gradient(to bottom, transparent 0%, #000 120%);
			opacity: 0;
			@include transition(all 500ms cubic-bezier(0.4, 0, 1, 1));
		}
		img {
			object-fit: cover;
			@include transition(all 300ms ease);
		}
	}
	.pxl-item-content {
		@include transition(all 300ms ease);
		position: absolute;
		left: 0;
		bottom: -50px;
		width: 100%;
		padding: 0 40px;
		background-color: transparent;
		z-index: 3;
		opacity: 0;
		visibility: hidden;
		.pxl-item--title {
			a {
				color: $primary_color; 
				font-weight: 700;
				font-size: 20px;
				line-height: 26px;
			}
		}
		.pxl-item-tags {
			a {
				text-transform: uppercase;
				color: #CACFEB;
				letter-spacing: 5px;
				font-weight: 600;
				font-size: 13px;
				line-height: 30px;
			}
		}
	}
	.team_social {
		position: absolute;
		top: 40px;
		left: 40px;
		text-align: center;
		overflow: hidden;
		width: 42px;
		height: 42px;
		transition: height 0.2s linear;
		z-index: 2;
		&:hover {
			height: 260px;
			~.pxl-item-content {
				bottom: -90px;
			}
		}
	}
	.share {
		opacity: 0;
		margin-bottom: 5px;
		position: relative;
		overflow: hidden;
		font-size: 20px;
		text-align: center;
		color: #fff;
		display: block;
		outline: none;
		width: 42px;
		height: 42px;
		line-height: 42px;
		background: $primary_color;
		cursor: pointer;
		border-radius: 5px;
		@include transition(all 300ms ease);			
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 42px;
			height: 42px;
			line-height: 42px;
		}
	}
	.pxl-item-share {
		padding: 0px;
		margin-bottom: 0px;
		i{
			font-size: 20px;
			width: 42px;
			height: 42px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			background-color: $primary_color;
			border-radius: 3.75px;
			color: #fff;
			margin-bottom: 5px;
		}
	}
	.pxl-swiper-slide:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next) {
		cursor: none;
	}
}

.pxl-project-carousel1 {
	.container-custom {
		max-width: 1200px;
		margin-bottom: 65px;
		@media #{ $min-md } {
			display: flex;
			justify-content: space-between;
			align-items: end;
		}
		@media #{ $max-sm } {
			margin-bottom: 30px;
			.wp-title {
				margin-bottom: 35px;
			}
		}
		&.alignment-left {
			margin-left: 0;
			margin-right: auto;
		}
		&.alignment-center {
			margin: 0 auto 65px;
		}
		&.alignment-right {
			margin-left: auto;
			margin-right: 0;
		}
		.wp-title {
			flex-grow: 1;
		}
		.el--title {
			font-size: 32px;
			margin-bottom: 10px;
			color: #000;
			font-weight: 300;
			@media #{ $max-lg } {
				font-size: 30px;
			}
			@media #{ $max-sm } {
				margin-bottom: 20px;
			}
		}
		.el--sub-title {
			font-size: 14px;
			color: $third_color;
		}
		.wp-arrow {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			.pxl-swiper-arrow {
				position: static;
				@include transform(translatey(0));
				opacity: 1;
				visibility: visible;
				line-height: 1;
				font-size: 26px;
				color: #b8b8b8;
				+ .pxl-swiper-arrow {
					margin-left: 10px;
				}
				&:hover {
					color: $primary_color;
					background-color: transparent;
				}
			}
			.pxl-swiper-dots {
				margin-top: 0;
				.pxl-swiper-pagination-bullet {
					margin: 0 8px;
					width: 5px;
					height: 5px;
				}
			}
		}
	}
	.pxl-item--title {
		font-size: 48px;
		font-weight: 300;
		color: #000;
		max-width: 680px;
		padding-left: 100px;
		border-left: 2px solid #000;
		margin-bottom: 55px;
	}
	ul {
		padding-left: 102px;
		margin-bottom: 0;
		list-style: none;
		li {
			display: inline-block;
			&:first-child {
				color: #000;
				font-weight: 500;
			}
			+ li {
				margin-left: 25px;
			}
		}
	}
	.pxl-meta {
		max-width: 60%;
	}
	.pxl-item--inner {
		@media #{ $min-lg } {
			padding-left: 28%;
			position: relative;
			display: flex;
			justify-content: end;
			.pxl-meta {
				position: absolute;
				top: 50%;
				left: 0;
				@include transform(translatey(-50%));
			}
		}
	}
}

.pxl-project-information {
	position: relative;
	background-color: #0a2148;
	padding: 71px 35px 15px;
	@media (max-width: 767px) {
		padding: 71px 15px 15px;		
	}
	.pxl-item--title {
		position: absolute;
		top: 0;
		left: 0;		
		font-weight: 700;		
		font-size: 20px;
		line-height: 26px;
		color: $primary_color;
		background-color: $secondary_color;
		width: 100%;
		text-align: center;
		padding: 25px 0 20px;
	}
	.pxl--item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 22px 0px;
		border-bottom: 1px solid #1c4a81;
		&:last-child {
			border-bottom: none;
		}
		label {
			font-weight: 700;
			font-size: 14px;
			line-height: 26px;
			color: #fff;
		}
		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: #cacfeb;
		}
	}
}