/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.pxl-team-grid1, .pxl-team-carousel1 {
    .pxl-item--image {
        position: relative;
        cursor: pointer;
        @media #{$max-sm} {

        }
    }
    .pxl-item--meta {
        position: absolute;
        bottom: -50px;
        @include transition(all 300ms ease);
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        text-align: center;
        max-width: 298px;
        width: 298px;
        margin: 0 auto;
        padding: 17px 71px 32px;
        z-index: 3;
        .pxl-item--title {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 0;
            a {
                color: $secondary_color;
            }
        }
        .pxl-item--position {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;
            color: $third_color;
        }
    }
    .pxl-item--title, .pxl-item--position {
        position: relative;
        z-index: 2;
    }
    .pxl-item--inner {
        position: relative;
    }
    &.style-circle {
        .pxl-item--inner {
            .pxl-item--image {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    background: rgba(255,255,255,.2);
                    opacity: 0;
                    z-index: 1;
                    @include border-radius(100%);
                    @include transform(translate(-50%,-50%));
                }
            }
            &:hover {
                .pxl-item--image:before {
                    @include animation(img_circle .65s);
                }
            }
        }
    }
    &.style-overlay {
        .pxl-item--inner {
            .pxl-item--image {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(#002A5C, 0.8);
                    z-index: 2;
                    opacity: 0;
                    @include transition(all 300ms ease);
                }
            }
            &:hover {
                .pxl-item--meta {
                    bottom: 0;
                    background: transparent;
                    border: none;
                    backdrop-filter: none;
                    .pxl-item--title {
                        color: $primary_color;
                        a {
                            color: $primary_color;
                        }
                    }
                    .pxl-item--position {
                        color: #fff;
                    }
                }
                .pxl-item--image:before {
                    opacity: 1;
                }
            }
        }
    }
}
.pxl-team-grid1, .pxl-team-carousel1 {
    .wp-arrow {
        .pxl-swiper-arrow {
            position: absolute;
            top: 9px;
            height: 86%;
            background-color: initial;
            cursor: none;
            i {
                opacity: 0;
            }
            &.cursor-arrow-prev {
                left: calc((100vw - 1200px)/-2)!important;
                width: calc((100vw - 1200px)/2)!important;
            }
            &.cursor-arrow-next {
                width: calc((100vw - 1200px)/2)!important;
                right: calc((100vw - 1200px)/-2)!important;
            }
            &.swiper-button-disabled {
                cursor: not-allowed;
            }
        }
    }
    .pxl-item--social {
        position: absolute;
        right: 50%;
        bottom: 103px;
        gap: 8px;
        display: inline-flex;
        align-items: flex-end;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        @include transform(translateY(10px) translateX(50%));
        @include transition(all 300ms ease);
        @media #{$max-sm} {

        }
        a {
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            font-size: 16px;
            background: rgba(#ffffff,.2);
            text-align: center;
            z-index: 1;
            + a {
                margin-top: 20px;
            }
            span {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                &:before {
                    content: '';
                    position: absolute;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: $secondary_color;
                    z-index: -1;
                    @include transform(scale(0));
                    @include transition(all 300ms ease);
                }
            }
            i {
                color: $fourth_color;
                @include transition(all 300ms ease);
            }
            &:hover {
                background: $primary_color;
                i {
                    color: #FFF;
                }
                span:before {
                    @include transform(scale(1));
                }
            }
        }
    }
    .pxl-item--inner {
        &:hover {
            .pxl-item--social {
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0) translateX(50%));
            }
        }
    }
}

.pxl-team-carousel1 {
    .pxl-item--image {
        >a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 4;
        }
    }
}